html {
    height: 100%;
}

body {
    display: block;

    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    background: black;

    overflow: hidden;
}

#canvas-basic {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.container {
    display: block;

    text-align: center;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

.container img {
    display: inline;

    width: 125px;
}

.container h1 {
    display: block;

    margin: 0;
    margin-top: 10px;

    color: white;
    font-family: "Lane", monospace;
    font-size: 48px;
    letter-spacing: 3px;
    font-weight: normal;
}

.container p {
    color: white;
    font-family: "Lane", monospace;
    font-size: 20px;
    letter-spacing: 0px;
}

.container .button {
    padding: 12px 60px;
    color: white;
    text-decoration: none;
    font-family: "Lane", monospace;
    font-size: 22px;
    letter-spacing: 1px;
    border: solid 1px white;
    border-radius: 30px;
    background: transparent;
    transition: all 0.2s ease-in;
    white-space: nowrap;
}

.container .button:hover {
    background: white;
    color: black;
}

.page {
    display: block;

    width: 100%;
    height: 100%;

    position: absolute;
}

.page * {
    -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.page .arrow_down {
    display: block;

    width: 30px;

    opacity: 1;

    position: absolute;
    left: 50%;
    bottom: 30px;

    transform: translate(-50%, 0);

    cursor: pointer;
    z-index: 99;
}

.page .arrow_up {
    display: block;

    width: 30px;

    opacity: 1;

    position: absolute;
    left: 50%;
    top: 30px;

    transform: translate(-50%, 0) scale(1, -1);

    cursor: pointer;
    z-index: 99;
}

.page#home {
    top: 0;
}

.page#overview {
    top: 100%;
}

.page#video {
    top: 200%;
}

.page#documentation {
    top: 300%;
}

.page#store {
    top: 400%;
}

@media only screen and (max-height: 525px) and (min-width: 470px) {
    .page#overview .container img {
        transform: translateX(0) translateY(-50%);
        position: absolute;
        top: 50%;
        left: -220px;
    }

    .page#overview .container .text {
        display: inline-block;
        width: 250px;
        margin-top: -8px;
        position: absolute;
        transform: translateX(0) translateY(-50%);
        top: 50%;
        right: -215px;
    }

    .page#overview .container .text p {
        margin-bottom: 10px;
    }
}

@media only screen and (max-height: 625px) {
    .page#overview .container .text h1 {
        display: none;
    }
}
