.page {
    display: block;
    
    width: 100%;
    height: 100%;
    
    position: absolute;
}

.page .arrow_down {
    display: block;
    
    width: 40px;
    
    opacity: 1;
    
    position: absolute;
    left: 50%;
    bottom: 30px;
    
    transform: translate(-50%, 0);
    
    cursor: pointer;
}

.page .arrow_up {
    display: block;
    
    width: 40px;
    
    opacity: 1;
    
    position: absolute;
    left: 50%;
    top: 30px;
    
    transform: translate(-50%, 0) rotateZ(180deg);
    
    cursor: pointer;
}