.title {
    display: block;
    
    text-align: center;
    
    position: absolute;
    left: 50%;
    top: 50%;
    
    transform: translate(-50%, -50%);
}

.title img {
    display: inline;
    
    width: 125px;
}

.title span {
    display: block;
    
    margin-top: 10px;
    
    color: white;
    font-family: "Lane", monospace;
    font-size: 48px;
    letter-spacing: 3px;
}
